# Python packaging
__pycache__

#Python virtualenv
executioner

# IDE
.idea

# log
Googleconnectorlog
STDOUT
Dataframecleanuplog
BuildLineupLog
ClosesttoNumlog
DataframeCreationLog
GraphSTDLog
STDPerPositionLog
UpdateActualPoints
UpdateDatabaseLog
connectorlog
scrapelog
sheets_create
