# Config file to hold all key=value pairs for Revised Data Google Sheets

#2019
wk1_2019="1LZMLvCI3sBkGUpefk7VsN8sqzgw4qnf7GrHuwSqAhmQ"

#2018
wk1_2018="1mXpMa-WNZCTf-E9w7T413fmWIORTV73wZ-PrEI0_mPg"

#2017
wk1_2017="1Ax0pYiPbPj-UtbBdZkwqfbrWWIEqxsstBHOGG5D0R68"

#2016
wk1_2016="18qnMqE1QX8sTLxLSUw6AVulhBqE5v_3sDn1BRipRJ80"

#2015
wk1_2015="1iM99sD2ylm3Ny3Pksoz3lFcp1jgUucY9KW-BsYfBTjs"